@use "@styles/color";
@use "@styles/space";
@use "@styles/font";
@use "@styles/breakpoint";

.container {
  @media (min-width: breakpoint.$desktop) {
    background: white;
    border: 1px solid color.$gray-200;
    box-sizing: border-box;
    box-shadow:
      0 4px 8px -2px rgb(16 24 40 / 10%),
      0 2px 4px -2px rgb(16 24 40 / 6%);
    border-radius: space.$s2;
    overflow: hidden;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;

  @media (max-width: breakpoint.$desktop) {
    table-layout: fixed;
  }
}

.headerRow {
  border-bottom: 1px solid color.$gray-200;

  @media (max-width: breakpoint.$desktop) {
    display: none;
  }
}

.headerCell {
  padding: space.$s3 space.$s6;
  text-align: left;
  color: color.$gray-500;
  font: font.$text-xs-medium;
}

.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: space.$s4 space.$s6;
  border-top: 1px solid color.$gray-200;

  @media (max-width: breakpoint.$desktop) {
    border: 0;
    flex-direction: column;
    padding: 0;

    div:nth-child(1) {
      display: flex;
      width: 100%;
      margin-bottom: 16px;
    }
  }
}

.paginationButton {
  height: 38px;
  padding: space.$s0 space.$s4;
  background: white;
  border: 1px solid color.$gray-300;
  box-shadow: 0 1px 2px rgb(16 24 40 / 5%);
  border-radius: 6px;

  @media (max-width: breakpoint.$desktop) {
    flex: auto;
  }
}

.paginationButton:not(:first-of-type) {
  margin-left: space.$s3;
}

.pageInfo {
  color: color.$gray-700;
  font: font.$text-sm-regular;
}

.pageNumber {
  font: font.$text-sm-medium;
}
